
<hr class="featurette-divider" id="summary">

<!-- Content Row -->
<div class="row">
  <div class="col-md-4">
    <h2>Top Sites</h2>
    <ul class="list-group"> 
      <% @topsites.each do |site| %> 
      <li class="list-group-item"> 
        <%= link_to site.title, hit_it_site_path(site) %> 
        <span class="badge"><%= site.hit %></span>
      </li>
      <% end %>
    </ul>                 
    <a class="btn btn-info" href="<%= sites_valid_path %>">Voir plus...</a>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4">
    <h2>Sites récents</h2>
     <ul class="list-group"> 
      <% @lastsites.each do |site| %>
      <li class="list-group-item">
        <span class="badge"><%= site.updated_at.strftime("%d %b %Y") %></span>
        <%= link_to site.title, hit_it_site_path(site) %> 
      </li>
      <% end %>
    </ul>      
  <a class="btn btn-info" href="<%= sites_valid_path %>">Voir plus...</a>
</div>
<!-- /.col-md-4 -->
<div class="col-md-4">
  <h2>Top catégories</h2>
  <p>
   <ul class="list-group"> 
    <% @topcat.each do |cat| %>
    <li class="list-group-item">
      <%= link_to cat.name, hit_it_category_path(cat)  %> 
      <span class="badge"><%= cat.hit %></span>
       <span class="badge"><%= Site.where(:category_id => cat.id).count %></span>
    </li>
    <% end %>
  </ul>      
</p>


</div>
<!-- /.col-md-4 -->
</div>
<!-- /.row -->

