
<hr class="featurette-divider" id="summary">

<!-- Content Row -->
<div class="row">

  <div class="col-md-4"> 
  <div class="panel panel-default panelrow"">
      <div class="panel-heading">
         <h2>Top Sites</h2>
      </div>
      <table class="table">
         <% @topsites.each do |site| %> 
         <tr>
           <td>
             <%= link_to site.title.titleize, hit_it_site_path(site) %> 
            </td>
            <td>
          <span class="badge"><%= site.hit ? site.hit : '0' %></span>
          </td>
        </tr>
         <% end %>
        <tr> 
         <td> 
         <a class="btn btn-info" href="<%= sites_valid_path %>">Voir plus...</a>   
         </td>
         <td></td>
        </tr>
      </table>
    </div> <!-- panel heading -->
  </div> <!-- col md 4-->

   
 <div class="col-md-4"> 
  <div class="panel panel-default panelrow"">
      <div class="panel-heading">
         <h2>Sites récents</h2>
      </div>
      <table class="table">
         <% @lastsites.each do |site| %> 
         <tr>
           <td>
             <%= link_to site.title.titleize, hit_it_site_path(site) %> 
            </td>
            <td>
             <span class="badge"><%= site.updated_at.strftime("%d %b %Y") %></span>
          </td>
        </tr>
         <% end %>
        <tr> 
         <td> 
         <a class="btn btn-info" href="<%= sites_valid_path %>">Voir plus...</a>   
         </td>
         <td></td>
        </tr>
      </table>
    </div> <!-- panel heading -->
  </div> <!-- col md 4-->

   
    <div class="col-md-4"> 
  <div class="panel panel-default panelrow"">
      <div class="panel-heading">
         <h2>Top catégories</h2>
      </div>
      <table class="table">
         <% @topcat.each do |cat| %> 
         <tr>
           <td>
             <%= link_to cat.name.titleize, hit_it_category_path(cat)  %> 
            </td>
            <td>
             <span class="badge"><%= Site.where(:category_id => cat.id).count %></span>
          </td>
        </tr>
         <% end %>
      </table>
    </div> <!-- panel heading -->
  </div> <!-- col md 4-->

   

  </div> <!-- row-->

  

