<p id="notice"><%= notice %></p>


 <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @page_title %>
                </h1>
                <ol class="breadcrumb">
                    <li>
                    <%= link_to 'Home', home_path %>
                    </li>
                    <li class="active"><%= @page_title %></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

<p>
Il y a <%= @sites.count %> sites concernés. 
</p>

<div class="pagination">
  <%= will_paginate @sites %>
</div> 


<% @sites.in_groups_of(3).each do |group| %>
<div class="row">
      <% group.each do |site| %>
         <div class="col-md-4">
         <% if site %>
            <div class="panel panel-default">
              <div class="panel-heading">       
                <h3><%= site.web %></h3>          
              <% if admin? %>
                <%= link_to 'Edit', edit_site_path(site), class: "btn btn-xs btn-success" %>
                <%= link_to 'Standby it', standby_it_site_path(site), class: "btn btn-xs btn-warning" %>
                <% if @page_title == 'Corbeille' %>
                  <%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete,   class: "btn btn-xs btn-danger" %>
                <% else %>
                  <%= link_to 'Trash it', trash_it_site_path(site), class: "btn btn-xs btn-danger" %>
                <% end %>
                <span class="badge"><%= site.hit %></span>
              <% end %>
              </div>

              <div class="panel-body fixed-panel">
               <% if site.category %>
                  <span class="label label-info"><%= Category.find(site.category_id).name  %></span>
                <% end %>
                <p>
                  <%= site.description.truncate(100) %>
                </p>
                <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </li>
<%= link_to 'Voir', hit_it_site_path(site), class: "btn btn-xs btn-primary"%> 
                            </li>
                        </ul>
                
                
              </div>
            </div>
         <% end %>
        </div>
      <% end %>
</div>
<% end %>


<div class="row"> <!--  row 1  -->

<div class="col-md-12">
 <div class="panel panel-primary">

  <div class="panel-heading">
    <div class="row">
    <div class="col-md-3">
    </div>
      <div class="col-md-2">
        Site
      </div>
          <div class="col-md-2">
     Catégorie
     </div>
      <div class="col-md-3">
      Titre 
     </div>
     <div class="col-md-2">
      Description
     </div>


   </div>
 </div>  

   <table class="table"> 
    <% @sites.each do |site| %>
   <!-- <tr class=<%= site.category ? "success" :  "danger" %>> -->
   <tr>
   <% if admin? %>
          <td>  
        <%= link_to 'Edit', edit_site_path(site), class: "btn btn-xs btn-success" %>
        <%= link_to 'Standby it', standby_it_site_path(site), class: "btn btn-xs btn-warning" %>
        <% if @page_title == 'Corbeille' %>
<%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete,   class: "btn btn-xs btn-danger" %>
        <% else %>
        <%= link_to 'Trash it', trash_it_site_path(site), class: "btn btn-xs btn-danger" %>
        <% end %>
      </td>
    <% end %>
      <td>
        <% @i %><a href='<%= site.web %>'><%= site.web %></a>
      </td>
            <td>  
        <%= site.category ? Category.find(site.category_id).name :  "vide" %>
      </td> 
      <td>
         <% site.title.upcase %>
      </td>
      <td>  
        <%= site.description %>
      </td>  



    </tr> <!-- one row -->
    <% end %>

  </table> <!--  panel-body -->

</div> <!-- panel  -->

</div><!-- bloc 2 row 1-->
 
</div><!-- fin row 1 -->

<div class="pagination">
  <%= will_paginate @sites %>
</div> 

  <% if admin? %>
<p>
<%= link_to 'Ajouter un site', new_site_path, class: "btn btn-sm btn-primary"  %>
</p>
 <% end %>