<p id="notice"><%= notice %></p>


 <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @page_title %>
                </h1>
                <ol class="breadcrumb">
                    <li>
                    <%= link_to 'Home', home_path %>
                    </li>
                    <li class="active"><%= @page_title %></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

<p>
Il y a <%= @sites.count %> sites concernés. 
</p>

<div class="pagination">
  <%= will_paginate @sites %>
</div> 


<% @sites.in_groups_of(3).each do |group| %>
<div class="row">
      <% group.each do |site| %>
         <div class="col-md-4">
         <% if site %>
            <div class="panel panel-default">
              <div class="panel-heading">  
               <% if site.category %>
                  <span class="label label-warning"><%= Category.find(site.category_id).name  %></span>
                <% end %>   
                <h3><%= site.title.titleize.truncate(30) %></h3>  
                <%= link_to 'VOIR', hit_it_site_path(site, :t => 'w'), class: "btn btn-xs btn-info"%>         
              <% if admin? %>
                <%= link_to 'Edit', edit_site_path(site), class: "btn btn-xs btn-success" %>
                <%= link_to 'Standby it', standby_it_site_path(site), class: "btn btn-xs btn-warning" %>
                <% if @page_title == 'Corbeille' %>
                  <%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete,   class: "btn btn-xs btn-danger" %>
                <% else %>
                  <%= link_to 'Trash it', trash_it_site_path(site), class: "btn btn-xs btn-danger" %>
                <% end %>
                <span class="badge"><%= site.hit %></span>
              <% end %>
              
              </div>

              <div class="panel-body fixed-panel">

                <p>
                  <%= site.description.html_safe %>
                  <!-- truncate(200)-->
                </p>
                <ul class="list-inline">
                <% if site.facebook %>
                  <li>
                  <a href="<%= hit_it_site_path(site, :t => 'f')%>">
                  <i class="fa fa-2x fa-facebook-square"></i></a>
                  </li>
                <% end %>
                <% if site.tweeter%>
                  <li>
                  <a href="<%= hit_it_site_path(site, :t => 't')%>">
                  <i class="fa fa-2x fa-tweeter-square"></i></a>
                  </li>
                <% end %>
                <% if site.instagram %>
                  <li>
                  <a href="<%= hit_it_site_path(site, :t => 'i')%>">
                  <i class="fa fa-2x fa-instagram"></i></a>
                  </li>
                <% end %>
                
                        </ul>
              
              </div>
            </div>
         <% end %>
        </div>
      <% end %>
</div>
<% end %>

<div class="pagination">
  <%= will_paginate @sites %>
</div> 

  <% if admin? %>
<p>
<%= link_to 'Ajouter un site', new_site_path, class: "btn btn-sm btn-primary"  %>
</p>
 <% end %>